/*
 * @Author: liu7i 
 * @Date: 2023-01-20 16:47:59 
 * @Last Modified by: liu7i
 * @Last Modified time: 2023-01-20 17:25:19
 */

.calendar-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calendar-toolbar-center {
  display: flex;
  border-right: 1px solid var(--mainColor);
  border-radius: 15px;
}

.calendar-toolbar-center-btn {
  width: 72px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--mainColor);
  color: var(--mainColor);
  font-weight: bold;
  border-right: none;
  cursor: pointer;
}

.calendar-toolbar-center-btn.active {
  background-color: var(--mainColor);
  color: #ffffff;
}

.calendar-toolbar-center .calendar-toolbar-center-btn:first-child {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.calendar-toolbar-center .calendar-toolbar-center-btn:last-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.calendar-toolbar-left {
  display: flex;
  align-items: center;
}

.calendar-toolbar-left-change-date-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px solid var(--mainColor);
  color: var(--mainColor);
  font-size: 10px;
  cursor: pointer;
}

.calendar-toolbar-left-title {
  margin-left: 8px;
  font-weight: bold;
  font-size: 16px;
}
